
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');


body {
    font-family: 'Roboto', Arial, sans-serif; /* Fonte padrão para o texto */
    background-color: #d14deb85; /* Cor leve de fundo para a página */
    color: #333; /* Cor padrão do texto */
    margin: 0;
    padding: 0;
}


header {
    background-color: rgb(233, 138, 233);
    color: white;
    padding: 20px;
    border-bottom: 2px solid #ddd;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


h1 {
    font-family:
    font-size: 2rem;
    margin: 0;
    text-align: center;
}


nav {
    margin-top: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: 'Open Sans', Verdana, sans-serif;
}

nav ul li a:hover {
    color: #007BFF;
}


main {
    padding: 20px;
}


section {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


ul {
    list-style-type: disc; 
    padding-left: 20px; 
    margin-left: 0; 
}

li {
    margin-bottom: 10px;
}


.fotos {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    gap: 20px;
}

.item {
    border: 10px solid rgb(0, 0, 0);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #000;
}

#img1 {
    width: 200px;
}

#img2 {
    width: 180px;
}

#img3 {
    width: 230px;
}

#img4 {
    width: 230px;
}

#img5 {
    width: 245px;
}
