:root {
    --cor-principal: #0729c2bb;
    --cor-secundaria: #08a1e7af;
    --cor-terciaria: #075ec2c9;
}


body, h1, p {
    margin: 50px;
    padding: ;
}


body {
    font-family: Arial, sans-serif;
    background-color: #7802afb6;
    color: #1e76e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho e navegação */
header {
    background-color: var(--cor-principal);
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--cor-secundaria);
}

/* Estilo principal */
main {
    width: 80%;
    max-width: 1200px;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
}

/* Estilo do rodapé */
footer {
    background-color: var(--cor-terciaria);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
}